In [36]:
import pandas as pd
a={'date':pd.Series(['2017-03-12','2017-03-10','2017-03-09']),'Price':pd.Series([12000,45666,90000]),'Name':pd.Series(['Ayush','somu','rajesh'])}
date_df=pd.DataFrame(a)

In [37]:
date_df.head()
#Apply Linear regression now on date to predict next date

     Name  Price        date
0   Ayush  12000  2017-03-12
1    somu  45666  2017-03-10
2  rajesh  90000  2017-03-09

In [31]:
date_df[['Price']]

   Price
0  12000
1  45666
2  90000

In [32]:
import datetime as dt
date_df['Date'] = pd.to_datetime(date_df['date'])
date_df['Date']=date_df['Date'].map(dt.datetime.toordinal)

In [33]:
date_df['Date']

0    736400
1    736398
2    736397
Name: Date, dtype: int64

In [34]:
from datetime import datetime
dt = datetime.fromordinal(736400)
dt

datetime.datetime(2017, 3, 12, 0, 0)

In [35]:
date_df.head()

   Price        date    Date
0  12000  2017-03-12  736400
1  45666  2017-03-10  736398
2  90000  2017-03-09  736397